nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.logo {
    width: 200px;
    height: 0px;
    position: relative;
    justify-content: left;
    font-weight: bold;
    font-size: 24px;
    z-index: 1;
}

.search-bar {
    margin-right: 10px;
}

.site-links {
    margin-left: auto;
}

.cart-icon,
.user-profile {
    margin-left: 10px;
    margin-right: 10px;
}  