nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
    background-color: #333;
}

.navbar-brand a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }

.navbar-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}